  h1 {
      font-size: 20px;
  }

  .fundovermelho {
      background-color: #c00;
  }

  #textoPrincipal {
      font-size: 40px;
      font-weight: bold;
      background-color: #444444;
      color: #FFF;
      padding: 50px;
  }